.nav-contain{
    width: 100%;
    height: 62px;
    padding-left: 16px;
    padding-right: 16px;
}
.nav-main{
    display: flex;
    align-items: center;
    padding-left: 90px;
    height: 100%;
}
.sephora-btn{
    display: flex;
        align-items: center;
        padding-left: 16px;
        margin-left: -16px;
        padding-right: 16px;
        margin-right: -16px;    
}
.sephora-img{
    width: 128px;
    height: 16px;    
}
.search-div{
    width: 405px;
    height: 50px;
    margin-left: 40px;
    padding-top: 10px;
}
#search{
    width: 100%;
    height: 30px;
    border: none;
    background-color: #f7f6f9;
    border-radius: 30px;
    padding-left: 20px;
}
.nav-right{
    display: flex;
    margin-left: 16px;
    width: 639px;
    height: 62px;
}
.nav-btn-contain{
    width: 495px;
    display: flex;
}
.store-btn{
    display: flex;
    width: 178px;
    border: none;
    background-color: white;

}
.comm-btn{
    display: flex;
    width: 140px;
    border: none;
    background-color: white;
}
.sign-in-border{
        border-left: 1px solid rgb(238, 238, 238);
        margin-left: 8px;
        height: 32px;
        align-self: center;
}
.sign-btn{
    display: flex;
    width: 168px;
    border: none; 
    margin-left: 15px;
    background-color: white;
}
.cart-contain{
    display: flex;
    width: 144px;
}
.chat-btn{
    padding-top: 15px;
    width: 48px;   
    background-color: white;
    padding-bottom: 10px;
}
.store-img{
   width: 24px;
   height: 24px;
   margin-right: 5px;
   margin-top: 15px;
   max-width: 100%;
}
.comm-img{
    width: 24px;
    height: 24px;
    margin-right: 5px;
    margin-top: 15px;
    max-width: 100%;
 }
 .sign-img{
    width: 32px;
    height: 32px;
    margin-right: 5px;
    margin-top: 15px;
    max-width: 100%;
 }
 .span-sign{
    font-size: 15px;
    font-weight: 400;
    color: black;
    margin-top: 22px;
    margin-left: 7px;
    
 }
.span-sign:hover{
    border-bottom: 2px solid black;
}

 .span-store{
    font-size: 15px;
    font-weight: 400;
    color: black;
    margin-top: 15px;
    margin-left: 7px;
} 
.span-store:hover{
    border-bottom: 2px solid black;
}
.span-comm{
    font-size: 15px;
    font-weight: 400;
    color: black;
    margin-top: 20px;
    margin-left: 7px;
}
.span-comm:hover{
    border-bottom: 2px solid black;
}
.span-span{
    font-size: 11px;
    font-weight: 500;
    margin-left: -20px;
    color: rgb(102, 102, 102);
}




@media screen and (max-width: 768px){
    .nav-main{
        align-items: center;
        display: flex;
        position: relative;
    }
    .sephora-btn{
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            padding-left: 16px;
            margin-left: -16px;
            padding-right: 16px;
            margin-right: -16px;
        
    }
    .sephora-img{
        width: 85px;
        height: 11px;
        display: block;
        max-width: 100%;
        
    }
    .search-div{
        padding-left: 24px;
        padding-right: 12px;
    }
}
@media screen and (max-width: 992px){
    .search-div{
        padding-left: 32px;
        padding-right: 32px;
    }
}